<br><br><br><br><center><div class="card" style="width: 18rem;" >
<div class="card-body" style="background-image: url(https://t3.ftcdn.net/jpg/04/94/12/04/360_F_494120449_Xy5lNmqq39rGe3ThQYmAAwbf98e8vPjl.jpg); background-repeat: no-repeat; background-size: cover;">
<h1>Login</h1>   
<%= form_tag @user do %>   
<%= label_tag :username%><br>   
<%= text_field_tag :username %><br>  
<%= label_tag :password%> <br>  
<%= password_field_tag :password%> <br><br>  
<%= submit_tag "Login", class:"btn btn-outline-success"%><%end%><br>
<p><%= link_to 'Forgot password?', new_password_reset_path %></p>
</div>
</div>
</center>
