<% if logged_in? %> 
<h2>All Your Meetings:-</h2><br>
<div class="row">
   <% current_user.events.each do |event| %>
     <% if event.end_date > Time.now %>
    <div class="col-sm-6">
     <div class="card bg-light">
      <div class="card-body">
       <p><b> Purpose: </b><%= event.purpose %></p>
       <p><b> People: </b><%= event.people %></p>
       <p><b> Start Time: </b><%= event.start_date %></p>
       <p><b> End Time: </b><%= event.end_date %></p>
         <% if event.end_date < Time.now %>
          <p style="color:red;">Your Meeting Expried</p>
         <% end %>
       <%= link_to "Edit this hosting", edit_event_path(event), class:"card-link" %> |
       <%= button_to "Destroy this hosting", event, method: :delete , class:"tn btn-outline-danger"%>
      </div>
     </div><br>
    </div><% end %>
  <% end %>
</div>

<%else%>

<center style="margin-top: 120px;"><h1>Welcome To The</h1>
<%= image_tag("logo.png") %>
</center>
<%end%>
