
<div style=" color: white;">
  <p><b> Your Name: </b><%= current_user.username %></p> 
  <p><b> Email: </b><%= current_user.email %></p> 
  <p><b> Phone: </b><%= current_user.phone %></p> 
  <p><b> Address: </b><%= current_user.address %></p> 
  <p><b>Img:</b><br><%= image_tag current_user.image, :size => "100x100" if current_user.image.attached? %></p>
</div><br>

<div>
<%= link_to "Back to users", root_path , class:"btn btn-success"%>
</div>
