<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <ul>
        <% event.errors.each do |error| %>
          <li style=" color: white;"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :purpose, style: "display: block" %>
    <%= form.text_field :purpose %>
  </div>

  <div>
    <%= form.label :people, style: "display: block" %>
    <%= form.number_field :people %>
  </div>

  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.datetime_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date, style: "display: block" %>
    <%= form.datetime_field :end_date %>
  </div><br>

  <p>Rooms: <%= form.select :room_id, Room.all.map { |room| [ room.room_name, room.id ] } %></p><br>

  <div>
    <%= form.submit %>
  </div>
  
<% end %>
