<h3>New Meeting Details:-</h3>
<p><b>Email id:- </b><%= @event.user.email %></p>
<p><b>UserName:- </b><%= @event.user.username%></p>
<p><b>Purpose:- </b><%= @event.purpose %></p>
<p><b> People:- </b><%= @event.people %></p>
<p><b> Start Time:- </b><%= @event.start_date %></p>
<p><b> End Time:- </b><%= @event.end_date %></p>